@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6d647e;
  color: white;
}

h1,h2,h3,h4 {
  font-family: 'PT Serif', 'Times New Roman', serif;
  font-weight: bold;
  color: white;
}

img {
  width: 100%;
}
